<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ content }}" />
    <meta property="og:url" content="https://confessions.ender.gr{{ url }}" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1810293349188163" />
    <meta property="og:image" content="{{ image }}" />
</head>
<body>
</body>
</html>