<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ender confessions</title>
    <script src="/dist/form.bundle.js"></script>
    <link rel="stylesheet" href="/{{ carrier }}/css"/>
    <link rel="stylesheet" href="/dist/form.bundle.css"/>
    <link rel="stylesheet" href="/asset/font-awesome/css/fa-svg-with-js.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="{{ form.Title }}" />
    <meta property="og:description" content="{{ form.Subtitle }}" />
    <meta property="og:url" content="https://confessions.ender.gr/{{ carrier }}" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1810293349188163" />
    {% if form.LogoUrl != "" %}
        <meta property="og:image" content="{{ form.LogoUrl }}" />
    {% else %}
        <meta property="og:image" content="https://confessions.ender.gr/assets/ender-confessions-opengraph.png" />
    {% endif %}
    <meta name="Description" CONTENT="{{ form.Subtitle }}">
    <meta name="robots" content="nosnippet,nofollow,noarchive">
    <script src="/asset/font-awesome/js/fontawesome-all.min.js" async></script>
    <script>
        function submitSecret() {
            document.getElementById("secret_form").submit();
        }
    </script>
    {% if form.IsEnableCaptcha %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}
</head>
<body style="background: url('{{ form.BackgroundUrl }}')">
<div id="form">
    <div class="jumbotron mt-4 mb-4">
        <div class="text-center pt-2" style="color: {{ form.TitleColor }}">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-9">
                    <a href="https://www.facebook.com/{{ carrierFacebook }}" target="_blank" class="fb-page-link">
                        <h2>{{form.Title}}</h2>
                    </a>
                    <p class="mb-2">{{form.Subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row justify-content-center">
            {% if success %}
                <div class="col-lg-6 col-md-9">
                    <div class="card p-4">
                        <div class="card-block">
                            <p class="text-center">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                                </svg>
                            </p>
                            <div class="text-center"><p class="mt-2">{{ form.SentMessage }}</p>
                                <p> Μπορείς να κρατήσεις το παρακάτω αναγνωριστικό και να διαχειριστείς το μυστικό σου πατώντας
                                    το <i class="fa fa-key" aria-hidden="true"></i> δίπλα στο κουμπί {{ form.SubmitPrompt }}. </p>
                                <div class="input-group input-group-lg">
                                    <input class="form-control text-center" placeholder="Αναγνωριστικό μυστικού" value="{{ secretId }}" readonly></div>
                                <p class="mt-4"><a href="/{{ carrier }}">Επιστροφή στη φόρμα</a></p></div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-6 col-md-9">
                    <div class="card">
                        <div class="card-block">
                            {% if form.IsBoosted %}
                                <div class="alert alert-info m-2">
                                    <span class="mr-1"><i class="fas fa-rocket fa-lg" data-fa-transform="shrink-6" data-fa-mask="fas fa-square"></i></span>
                                    {{ form.BoostedReason }}<br />
                                    Η δημοσιέυσή σας θα έχει προτεραιότητα στις δημοσιεύσεις!
                                </div>
                            {% endif %}
                            {% if error %}
                                <div class="alert alert-danger mb-2 m-4">{{error}}</div>
                            {% endif %}
                            <form id="secret_form" class="m-4" method="post" enctype="multipart/form-data" action="/submit">
                                <input type="hidden" name="carrier" value="{{ carrier }}">
                                <div class="form-group">
                                    <label for="message">{{form.SecretPrompt}}</label>
                                    <textarea class="form-control" id="message" rows="3" name="content"></textarea>
                                </div>
                                {% for id, optionSet in form.OptionSets %}
                                    <div class="form-group">
                                        <label>{{optionSet.Name}}</label>
                                        <select class="custom-value d-block w-100 w-100 custom-select" name="option-{{ id }}" title="{{optionSet.Name}}">
                                            <option disabled selected>-- Επιλογή --</option>
                                            {% for option in optionSet.Options %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                            {% if optionSet.AllowCustom %}
                                                <option value="custom">Άλλο</option>
                                            {% endif %}
                                        </select>
                                        {% if optionSet.AllowCustom %}
                                            <input placeholder="Άλλο"
                                                   class="form-control form-control-sm mt-2"
                                                   id="option-{{ id }}-custom"
                                                   name="option-{{ id }}-custom"
                                                   style="display: none">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                {% if form.IsAcceptsImage %}
                                    <div class="form-group">
                                        <label>{{ form.ImagePrompt }}</label>
                                        <input type="file" name="image"/><br/>
                                        <small class="form-text text-muted" id="post-image-help">Μέγιστο μέγεθος εικόνας 2 MB.
                                        </small>
                                    </div>
                                {% endif %}
                                <button class="g-recaptcha btn btn-primary"
                                        data-sitekey="{{ recaptcha }}"
                                        data-callback="submitSecret">
                                    {{ form.SubmitPrompt }}
                                </button>
                                <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#status_check">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="mt-4">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9120953754980939"
                 data-ad-slot="7803177801"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="mt-4 text-center text-muted">
            <a href="/#!/privacy" target="_blank">Πολιτική Απορρήτου</a> -
            <a href="/#!/help" target="_blank">Γραμμές Υποστήριξης</a> -
            Created by <a href="/" target="_blank">ender.gr</a>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="status_check">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Κατάσταση μυστικού</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="status_check_form" class="input-group">
                    <input type="hidden" name="carrier" value="{{ carrier }}">
                    <input type="text" name="id" class="form-control" placeholder="Αναγνωριστικό μυστικού" aria-label="Αναγνωριστικό μυστικού" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Αναζήτηση</button>
                    </div>
                </form>
            </div>
            <div id="status_check_response" class="mt-0" style="display: none"></div>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106872848-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-106872848-1');
</script>
</body>
</html>
